@page "/templates/create"
@page "/templates/{name}/edit"

<CascadingValue Name="@(nameof(TempoWorklogger.Contract.UI.ViewModels.Template.ITemplateViewModel))" Value="@vm">
    <TempoWorklogger.UI.Containers.ContentContainer IsLoading="@vm.IsInit" IsBusy="@vm.IsBusy">
        <StaticContent>
            <div class="row mb-2">
                <div class="col">
                    <h3 class="mb-2">Template @this.vm.ImportMapModel.Name</h3>
                </div>
                <div class="col-auto">
                    <GoBack PrevPage="/templates" />
                </div>
            </div>
        </StaticContent>
        <Content>
            <TempoWorklogger.UI.Views.Templates.TemplatesView />
        </Content>
    </TempoWorklogger.UI.Containers.ContentContainer>
</CascadingValue>
