@page "/worklog/create"
@page "/worklog/edit/{WorklogId:long?}"

<CascadingValue Name="@(nameof(TempoWorklogger.Contract.UI.ViewModels.Worklog.IWorklogViewModel))" Value="@vm">
    <TempoWorklogger.UI.Containers.ContentContainer IsLoading="@vm.IsInit" IsBusy="@vm.IsBusy">
        <StaticContent>
            <div class="row mb-2">
                <div class="col">
                    <h3 class="mb-2">Worklog @this.vm.WorklogModel?.IssueKey</h3>
                </div>
                <div class="col-auto">
                    <GoBack PrevPage="/worklogs" />
                </div>
            </div>
        </StaticContent>
        <Content>
            <TempoWorklogger.UI.Views.Worklog.WorklogView />
        </Content>
    </TempoWorklogger.UI.Containers.ContentContainer>
</CascadingValue>
