<TempoWorklogger.UI.Dialogs.DialogView Identifier="deleteItemModal" Title="Confirm deleting item" ConfirmButtonText="Yes, I know what I am doing!" OnConfirmClicked="@(() => ViewModel.DeleteCommand.Execute())">
    <Content>
        <p>Do you realy want to delete the worklog? This operation is permanent and will be deleted only on your local machine...</p>
    </Content>
</TempoWorklogger.UI.Dialogs.DialogView>

<TempoWorklogger.UI.Dialogs.DialogView Identifier="sendToTempoModal" Title="Send to tempo preview" Width="80%" OnCancelClicked="@(() => ViewModel.ResetSendToTempoCommand.Execute())">
    <Content>
        <CascadingValue Name="@(nameof(TempoWorklogger.Contract.UI.ViewModels.Worklogs.IWorklogsViewModel))" Value="@ViewModel">
            <SendToView />
        </CascadingValue>
    </Content>
    <ButtonsContent>
        <span></span>
    </ButtonsContent>
</TempoWorklogger.UI.Dialogs.DialogView>

<div class="row mb-2 mt-2">
    <div class="col-auto">
        <RadzenButton ButtonStyle="ButtonStyle.Primary" Icon="add_circle_outline" Text="Add simplified" Click="@InsertRow" Disabled=@(worklogToInsert != null || worklogToUpdate != null) />
    </div>
    <div class="col-auto">
        <RadzenMenu>
            <RadzenMenuItem Text="More actions" Icon="line_weight">
                <RadzenButton ButtonStyle="ButtonStyle.Light" class="mb-1" Icon="add_circle_outline" Text="Add detailed" Click="@ViewModel.CreateDetailedCommand.Execute" Disabled=@(worklogToInsert != null || worklogToUpdate != null)></RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" class="mb-1" Icon="delete" data-bs-toggle="modal" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-target="#deleteItemModal" Text="Delete selected" Disabled=@(ViewModel.SelectedWorklogs == null || !ViewModel.SelectedWorklogs.Any())></RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="backup" data-bs-toggle="modal" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-target="#sendToTempoModal" Text="Send selected to Tempo API" Disabled=@(ViewModel.SelectedWorklogs == null || !ViewModel.SelectedWorklogs.Any())></RadzenButton>
            </RadzenMenuItem>
        </RadzenMenu>
    </div>
    <div class="col"></div>
    <div class="col-auto">
        <strong>Total time: @TotalGridTime</strong>
    </div>
</div>

@*TODO: actions: Batch actions like delete, send to somewhere (Tempo primary and other integrations..)*@

<div class="row mb-2">
    <div class="col-12">
        <RadzenDataGrid @ref="worklogsGrid"
                        Data="@ViewModel.Worklogs"
                        TItem="Model.Db.WorklogView"
                        AllowAlternatingRows="false"
                        EditMode="DataGridEditMode.Multiple"
                        AllowSorting="true"
                        AllowMultiColumnSorting="true"
                        AllowPaging="true"
                        PageSize="rowsNumber"
                        AllowFiltering="true"
                        RowUpdate="@OnUpdateRow"
                        RowCreate="@OnCreateRow"
                        AllowRowSelectOnRowClick="false"
                        @bind-Value=@ViewModel.SelectedWorklogs
                        SelectionMode="DataGridSelectionMode.Multiple">
            <Columns>
                <RadzenDataGridColumn TItem="Model.Db.WorklogView" Width="60px" Sortable="false" Filterable="false">
                    <HeaderTemplate>
                        <RadzenCheckBox TriState="false" TValue="bool" Value="@(ViewModel.Worklogs.Any(i => ViewModel.SelectedWorklogs != null && ViewModel.SelectedWorklogs.Contains(i)))"
                                        Change="@(args => ViewModel.SelectedWorklogs = args ? worklogsGrid!.View.ToList() : new() )" />
                    </HeaderTemplate>
                    <Template Context="data">
                        <RadzenCheckBox TriState="false" Value="@(ViewModel.SelectedWorklogs != null && ViewModel.SelectedWorklogs.Contains(data))"
                                        TValue="bool" Change=@(args => worklogsGrid!.SelectRow(data)) />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Model.Db.WorklogView" Property="@nameof(Model.Db.WorklogView.Id)" Width="75px" Title="ID" />
                <RadzenDataGridColumn TItem="Model.Db.WorklogView" Property="@nameof(Model.Db.WorklogView.IssueKey)" Width="160px" Title="Issue">
                    <EditTemplate Context="worklog">
                        @*<RadzenTextBox @bind-Value="worklog.IssueKey" Name="IssueKey" Style="width:100%" />*@
                        <RadzenAutoComplete Context="context" @bind-Value="worklog.IssueKey" Name="IssueKey" Style="width:100%" Placeholder="Enter issue key..." Change=@(OnIssueKeyChanged) Data=@ViewModel.AutoCompleteWorklogs TextProperty="IssueKey">
                            @*    <Template>
                            @context.IssueKey - @context.Title
                            </Template>*@
                        </RadzenAutoComplete>
                        <RadzenRequiredValidator Text="Issue key is required" Component="IssueKey" Popup="true" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Model.Db.WorklogView" Property="@nameof(Model.Db.WorklogView.Title)" Width="225px" Title="Title">
                    <EditTemplate Context="worklog">
                        <RadzenTextBox @bind-Value="worklog.Title" Name="Title" Style="width:100%" />
                        @*<RadzenAutoComplete Context="context" @bind-Value="worklog.Title" Name="Title" Style="width:100%" Placeholder="Enter title key..." Data=@ViewModel.Worklogs TextProperty="Title">
                            <Template>
                            @context.IssueKey - @context.Title
                            </Template>
                        </RadzenAutoComplete>*@
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Model.Db.WorklogView" Property="@nameof(Model.Db.WorklogView.StartTime)" Width="225px" Title="Started">
                    <EditTemplate Context="worklog">
                        <RadzenDatePicker @bind-Value="worklog.StartTime" ShowTime=true ShowTimeOkButton=true Style="width:100%">
                            <FooterTemplate>
                                <RadzenButton Class="my-3 w-100" Click=@(_ => { worklog.StartTime = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, DateTime.Now.Hour, DateTime.Now.Minute, 0); }) Text="Now time" />
                            </FooterTemplate>
                        </RadzenDatePicker>
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Model.Db.WorklogView" Property="@nameof(Model.Db.WorklogView.EndTime)" Width="225px" Title="Ended">
                    <EditTemplate Context="worklog">
                        <RadzenDatePicker @bind-Value="worklog.EndTime" ShowTime=true ShowTimeOkButton=true Style="width:100%">
                            <FooterTemplate>
                                <RadzenButton Class="my-3 w-100" Click=@(_ => { worklog.EndTime = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, DateTime.Now.Hour, DateTime.Now.Minute, 0); }) Text="Now time" />
                            </FooterTemplate>
                        </RadzenDatePicker>
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Model.Db.WorklogView" Property="@nameof(Model.Db.WorklogView.Description)" Title="Description">
                    <EditTemplate Context="worklog">
                        <RadzenTextArea @bind-Value="worklog.Description" Style="width:100%" />
                    </EditTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Model.Db.WorklogView" Property="@nameof(Model.Db.WorklogView.WasSendToTempo)" Width="160px" Title="Sent to Tempo">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn CssClass="ui-cell-menu" TItem="Model.Db.WorklogView" Title="#" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="200px">
                    <Template Context="worklog">
                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(worklog))" @onclick:stopPropagation="true"></RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" data-bs-toggle="modal" data-bs-backdrop="static" data-bs-keyboard="false" data-bs-target="#deleteItemModal" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" Class="my-1 ms-1" Click="@(args => ViewModel.PrepareDeleteCommand.Execute(worklog))">
                        </RadzenButton>
                        <span> | </span>
                        <RadzenButton Shade="Shade.Lighter" Click=@(args => ViewModel.EditCommand.Execute(worklog.Id)) Icon="edit" title="Edit detail" ButtonStyle="ButtonStyle.Light" />
                        <RadzenButton Shade="Shade.Lighter" Click=@(args => DuplicateRow(worklog)) Icon="add_to_photos" title="Duplicate inline" ButtonStyle="ButtonStyle.Light" />
                        @*<RadzenMenu Style="z-index:1000">
                            <RadzenMenuItem Icon="line_weight">
                                <RadzenButton Shade="Shade.Lighter" Click=@(args => ViewModel.EditCommand.Execute(worklog.Id)) Icon="edit" Text="Edit detail" ButtonStyle="ButtonStyle.Light" />
                                <RadzenButton Shade="Shade.Lighter" Click=@(args => DuplicateRow(worklog)) Icon="copy" Text="Duplicate inline" ButtonStyle="ButtonStyle.Light" />
                            </RadzenMenuItem>
                        </RadzenMenu>*@

                    </Template>
                    <EditTemplate Context="worklog">
                        <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(worklog))">
                        </RadzenButton>
                        <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Class="my-1 ms-1" Click="@((args) => CancelEdit(worklog))">
                        </RadzenButton>
                    </EditTemplate>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>

<div class="row mb-2">
    <div class="col-auto">
        <span>Rows count per page:</span>
        <RadzenNumeric @bind-Value="rowsNumber" TValue="int" Change=@(args => worklogsGrid!.Reload()) />
        <RadzenButton Icon="autorenew" ButtonStyle="ButtonStyle.Info" Variant="Variant.Flat" Text="Reload" Size="ButtonSize.Medium" Class="my-1 ms-1" Click=@(async args => await RefreshGrid())>
        </RadzenButton>
    </div>
</div>